.memberDialog {
  :global {
    .ant-input {
      height: 30px;
    }

    .ant-input-group-addon {
      padding: 0;
      border: 0;
    }

    .ant-modal-body {
      padding: 20px 0;
    }

    .ant-tabs-bar {
      padding: 0 20px;
    }

    .ant-tabs-content {
      padding: 0 20px;
    }
    // 处理输入框自动填充色
    input:-webkit-autofill,
    select:-webkit-autofill {
      box-shadow: 0 0 0 1000px white inset;
    }

    .ant-form-item-has-error .ant-input-affix-wrapper input:focus {
      box-shadow: 0 0 0 1000px white inset !important;
    }

    .ant-modal-content {
      border-radius: 7px;
    }

    .ant-modal-title {
      font-weight: bold;
    }

    .ant-modal-close-x {
      display: flex;
      height: 50px;
      width: 42px;
      font-size: 18px;
      color: #000;
      align-items: center;
      justify-content: center;
    }
  }
}

.loginLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;

  .loginTitle {
    padding: 16px 0;
    font-size: 21px;
    color: #000;
  }
}

.btnGroup {
  display: flex;
}

.title {
  padding: 20px 0;
  color: #303030;
}

.memberContainer {
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.loadingContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.memberItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.memberDetail {
  display: flex;
  align-items: center;

  .avatarImg {
    width: 40px;
    height: 40px;
  }
}

.memberInfo {
  margin-left: 10px;
}

.btn {
  width: 70px;
  height: 30px;
}

.copyBtn {
  width: 80px;
  height: 30px;
  padding: 0;
}

.checkBox {
  padding: 20px 0;
}
