.headerLeft {
  display: flex;
  justify-content: space-between;
  width: 345px;

  .sloganImg {
    display: flex;
    align-items: center;
    padding-top: 1px;
    margin-right: 36px;
    cursor: pointer;

    > img {
      width: 120px;
      height: 34px;
    }
  }
}
