@import 'global.scss';

.appContainer {
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: $background;
    box-shadow: 0px 1px 0px 0px rgba(241, 241, 241, 1);
  }

  .pageHeader {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 1140px;
    background-color: $background;
  }
}
