.left {
  width: 300px;
  background-color: white;
  margin-right: 20px;
  margin-top: 20px;
  position: sticky !important;
  top: 64px;
  z-index: 55;
  height: fit-content;

  .butt {
    margin-top: 5px;
    display: flex;
    padding: 14px 18px;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    font-size: 18px;
    font-weight: bold;
  }

  .box {
    width: 265px;
    height: 609px;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
    // position: absolute;
    // top: 33px;
    // left: 13px;
    overflow: hidden;
  }

  .list {
    overflow-y: auto;
    color: #000;
    font-size: 0.7rem;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma;
    height: 100%;
  }

  .list::-webkit-scrollbar {
    width: 4px;
  }

  .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba (0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba (0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }

  .fl {
    width: 20px;
    height: 20px;
    border-radius: 0;
  }

  .spinBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    .spin {
      display: flex;
      color: #a3a3a3;

      :global {
        .ant-spin-text {
          margin-left: 15px;
        }

        .ant-spin-dot-item {
          background-color: #a3a3a3;
        }
      }
    }
  }
}
