.publishWrap {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  min-height: 100vh;
  min-width: 1140px;

  &::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    background-color: #fff;
  }

  /* 定义滚动条轨道 内阴影+圆角 */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }

  /* 定义滑块 内阴影+圆角 */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
  }

  :global {
    // 处理输入框自动填充色
    input:-webkit-autofill,
    select:-webkit-autofill {
      box-shadow: 0 0 0 1000px white inset;
    }

    .ant-form-item-has-error .ant-input-affix-wrapper input:focus {
      box-shadow: 0 0 0 1000px white inset !important;
    }
  }
}

.main {
  width: 1140px;
  background-color: #fff;
}

.articleInfo {
  margin: 100px 20px 30px;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.articleForm {
  width: 500px;
}

.select {
  width: 60% !important;
}

.selectForm {
  margin-bottom: 0;
}

.uploadModule {
  display: flex;
  justify-content: space-between;

  .uploadItem {
    width: 180px;
    height: 148px;

    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
    }

    :global {
      .ant-upload {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.btnGroup {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 180px;
    height: 40px;
  }
}

.tagList {
  padding: 0 18px;
}

.publishDate {
  text-align: center;
  font-size: 22px;
  color: #333;
  padding: 10px;
}

.toArticle {
  font-size: 14px;
  color: #ff5c5c;
  cursor: pointer;
  padding-bottom: 3px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: #ff5c5c;
  }
}
