.pageContent {
  padding: 0 20px;
  min-width: 1140px;
  background-color: #fff;
}

.agreement {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.logo {
  padding: 10px 20px;
  width: 1140px;
  margin: 0 auto;
}

.title {
  background-color: #fafafa;
  font-size: 22px;
  color: #333;
  padding: 15px 0;

  div {
    width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.subTitle {
  color: #000;
  font-weight: 600;
}
