
.KnowledgeLeft {
  display: flex;
  flex-direction: column;
}

.Knowledge {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.ArticleMain {
  background-color: #fff;
}

.Main {
  display: flex;
  flex-direction: column;
  width: 820px;
}

.Pagenation {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
