.KnowledgeListHeader {
  width: 1140px;
  padding: 30px;
  background-color: white;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 30px;
  }

  .tabsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
  }

  .nm {
    font-size: 22px;
    font-weight: 500;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(51, 51, 51, 1);
  }

  .intro {
    font-size: 12px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(163, 163, 163, 1);
  }

  .pic {
    margin-right: 20px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
  }

  .pers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .leftinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 96px;
  }

  .publishBtn {
    cursor: pointer;
    background: #f5f5f5;
    border: none;
    padding: 0;
    font-size: 12px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #303030;
    width: 90px;

    &:hover {
      background-color: #eaf0ff;
      color: #2d77ee;
    }
  }

  .rigtinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    width: 122px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 50px;
    border-right: 1px solid #f2f2f2;

    &:last-child {
      border-right: 0;
    }

    .itemValue {
      color: #333;
      font-size: 20px;
    }

    .itemName {
      color: #999;
      font-size: 14px;
    }
  }

  .tabs {
    :global {
      .ant-tabs-bar {
        margin-bottom: 0;
        border-bottom: unset;
      }

      .ant-tabs-tab {
        height: 72px;
        line-height: 72px;
        padding: unset;

        &:hover {
          color: #121212;
        }
      }

      .ant-tabs-tab-active {
        color: #121212;
        font-weight: 600;
      }

      .ant-tabs-ink-bar {
        background-color: #121212;
      }
    }
  }
}
