@import 'global.scss';

.headerRight {
  display: flex;
  align-items: center;

  .searchInput {
    height: 44px;
    width: 300px;
    border: unset;
    box-shadow: unset;
  }

  .loginBtn {
    color: $text-30;
    margin-left: 30px;
    cursor: pointer;
    font-size: 16px;
    display: flex;

    .login {
      margin-right: 10px;
    }

    span {
      &:hover {
        color: $button;
      }
    }
  }

  .avatarImg {
    background-color: #e3e3e3;
    margin-left: 20px;
    width: 40px;
    height: 40px;
  }
}

.menu {
  padding: 0 10px;
}
