@import 'global.scss';

.headerRight {
  display: flex;
  align-items: center;

  .searchInput {
    height: 44px;
    width: 300px;
    border: unset;
    box-shadow: unset;
  }

  .loginBtn {
    color: $text-30;
    margin-left: 30px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: $button;
    }
  }
}
