.title {
  font-size: 18px;
  color: #121212;
  padding: 7px 0;
  font-weight: bold;
}

.hasImg {
  display: flex;
  justify-content: inherit;
  align-items: stretch;
  flex-wrap: nowrap;

  .articleSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .coverImg {
    margin-right: 20px;
    margin-top: 7px;
    object-fit: cover;
  }

  .title {
    padding: 0;
  }
}

.itemStyle {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 30px;
  // display: block;
  cursor: pointer;
  display: flex;

  :global {
    .ant-list-item {
      display: flex;
    }
  }

  &:last-child {
    border-bottom: 1px solid #f2f2f2 !important;
  }

  &:hover .title {
    color: #2d77ee;
  }
}

.Description {
  font-size: 14px;
  color: #7f7f7f;
  margin-bottom: 20px;
}

.ArticleRelated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #a3a3a3;
}

.ArticleList {
  height: 100%;
}

.text {
  margin-left: 6px;
}

.img {
  margin: 0 6px 0 20px;
  margin-bottom: 2px;
}

.left {
  display: flex;
  align-items: center;
}

.author {
  margin-left: 6px;
  color: #576b95;
  cursor: pointer;
}

.spinBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .spin {
    display: flex;
    color: #a3a3a3;

    :global {
      .ant-spin-text {
        margin-left: 15px;
      }

      .ant-spin-dot-item {
        background-color: #a3a3a3;
      }
    }
  }
}
